* {
    padding: 0;
    margin: 0;
}

.collection_right_banner img{
    width: 100%;
}

.collection_right_content{
    padding-top: 30px;
    padding-bottom: 35px;
}

.collection_right_content h4{
    color: #444444;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: 0.54px;
    margin-bottom: 15px;
}

.collection_right_content h5{
    color: #444444;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 16px;
}

.collection_right_content p{
    color: #777777;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.42px;
}