@import '../../shared/shared-style/shared-style';

.sub_footer {
    max-width: 1400px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 auto;
}

.sub_footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub_footer_text {
    color: $light-text-color;
    padding: 20px 0;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.42px;
    margin: 0;
}

.sub_footer_icon_list {
    display: flex;
}

.sub_footer_icon {
    padding-left: 7px;
    padding-right: 7px;
}

mat-list-item {
    padding: 0;
}