<section class="banner">
    <div class="banner_container">
        <div class="banner_item" *ngFor="let item of bannerItems">
            <a href="collection.html">
                <div class="banner_box">
                    <img class="banner_image" [src]="item.imgUrl" alt="banner1">
                    <div class="banner_flex" *ngIf="item.title">
                        <div class="banner_info">
                            <h4 class="banner_info_subtitle">{{item.subtitle}}</h4>
                            <h2 class="banner_info_title">{{item.title}}</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>