$main-color : #ff4c3b;
$border-color : #dddddd;

@mixin h6-style () {
    font-size: 14px;
    color: #222222;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

.product_box_right {
    display: flex;
    padding-left: 13px;
}

.product_box_right_img {
    width: 501px;
}

.product_box_right_infos {
    width: 501px;
    padding-left: 26px;
}

.main_img {
    width: 440px;
    height: 480px;
}

.product_quantity,
.product_details,
.product_media {
    border-bottom: 1px dashed $border-color;
}

.product_name {
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.product_discount_price {
    margin-bottom: 7px;

    del {
        color: #777777;
        font-size: 14px;
        font-weight: 400;
    }

    span {
        color: $main-color;
        padding-left: 5px;
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
}

.product_price {
    color: #222222;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: 0.78px;
}

// .product_color{
//     display: flex;
// }

// .product_color li{
//     position: relative;
//     height: 30px;
//     width: 30px;
//     border-radius: 100%;
//     cursor: pointer;
//     margin-right: 5px;
//     margin-bottom: 10px;
// }

// .silver{
//     background-color: silver;
// }

// .product_color li.selected {
//     border: 1px solid black;
// }

// .product_color li.selected::after{
//     content: "";
//     // background-image: url('../../../assets/images/test1.png');
//     background-size: 70%;
//     background-repeat: no-repeat;
//     height: 15px;
//     width: 15px;
//     position: absolute;
//     top: 9px;
//     right: 4px;
// }

.quantity_wrapper {
    padding-top: 15px;
    padding-bottom: 27px;

    h5 {
        color: $main-color;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.75px;
        line-height: 24px;
    }

    h6 {
        @include h6-style();
    }
}

.quantity_box {
    margin-top: 10px;
    padding-bottom: 20px;
    display: flex;

    div {
        width: 80px;
        height: 49px;
        font-size: 16px;
        font-weight: 400;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        background-color: #e9ecef;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.quantity_num {
    padding: 6px 12px;
    width: 60px;
    text-align: center;
    background-color: #e9ecef;
    border-color: $border-color;
    border-left: none;
    border-top: none;
    font-size: 16px;
}

.quantity_btn {
    background-color: #ffffff;
    height: 100%;
    border: 1px solid $border-color;
    cursor: pointer;
    padding: 16.2px 13.8px;
    color: #585858;
}

.quantity_link a {
    padding: 10px 25px;
    background-image: linear-gradient(30deg, $main-color 50%, transparent 50%);
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid $main-color;
    background-size: 850px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.7px;
    margin-right: 7px;
    transition: background 300ms ease-in-out;
}


.quantity_link a.able:hover,
.submit_btn:hover {
    background-position: 100%;
    color: #000000;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
}

.disable {
    opacity: 0.6;
    opacity: 0.6;
    cursor: context-menu;
}

.product_details,
.product_media,
.product_reminder {
    padding-top: 15px;
    padding-bottom: 20px;

    h6 {
        @include h6-style();
    }
}

.product_details p {
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.42px;
    line-height: 21px;
}

.product_media div {
    display: flex;
    align-items: center;

}

.media_icons {
    border-right: 1px solid $border-color;

    mat-list {
        display: flex;
        margin-top: 5px;
    }

    mat-list a {
        padding-right: 30px;
        font-size: 18px;
        transition: all 0.3s ease;
        color: #000000;
    }

    mat-list a:hover {
        color: $main-color;
    }
}

mat-list-item {
    width: auto;
}

.instagram {
    padding-right: 12px !important;
}

.wishlist_btn button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 1px 6px;

    i {
        margin-left: 5px;
        margin-right: 10px;
        transition: all 0.5s ease;
    }

    span {
        line-height: 27px;
        text-align: center;
    }
    
}

.wishlist_btn:hover .fa-heart {
    color: $main-color;
}

.product_reminder div {
    background-color: #f7f7f7;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    display: inline-block;

    p {
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 27px;
        color: #222222;
    }

    span {
        width: 70px;
        display: inline-block;
    }
}

.timer_num {
    width: auto !important;
}

.timer_dot {
    display: inline !important;
    padding-left: 16px;
}

.timer_cal {
    color: #777777;
    font-size: 12px;
}

// .product_all_img {
//     display: flex;
//     padding-top: 120px;
//     cursor: pointer;

    
// }

// .product_all_img div img.selected_img {
//     border-color: #aaaaaa;
// }

// .product_all_img div {
//     margin-right: 10px;
//     width: 245.5px;
// }

// .product_all_img div img {
//     width: 100%;
//     height: auto;
//     border: 1px solid $border-color;
// }

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}