<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
        <a class="back_btn" (click)="drawer.toggle()">
            <i _ngcontent-serverapp-c3830647931="" aria-hidden="true" class="fa fa-angle-left pe-2"></i>
            back
        </a>
        <mat-list role="list">
            <mat-list-item role="listitem">clothing</mat-list-item>
            <mat-list-item role="listitem">bags</mat-list-item>
            <mat-list-item role="listitem">footwear</mat-list-item>
            <mat-list-item role="listitem">watches</mat-list-item>
            <mat-list-item role="listitem">Accessories</mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="sidenav_icon">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon class="menu_icon">menu</mat-icon>
            </button>
        </div>
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>