@import '../../shared/shared-style/shared-style';

.footer_top {
    max-width: 1400px;
    padding: 35px 0;
    margin: 0 auto;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_top_left {
    height: 100%;
    width: 50%;
    border-right: 1px solid $border-color;
}

.footer_top_title {
    color: $main-text-color;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
    letter-spacing: 0.54px;
}

.footer_top_text {
    color: $light-text-color;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.42px;
}

mat-form-field{
    width: 300px;
}

.footer_top_right{
    display: flex;
}

.footer_top_btn{
    width: 130px;
    height: 56px;
    margin-left: 20px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
}