<div class="footer_top">
  <div class="footer_top_left">
    <h4 class="footer_top_title">know it all first!</h4>
    <p class="footer_top_text">
      Never Miss Anything From Multikart By Signing Up To Our Newsletter.x
    </p>
  </div>
  <div class="footer_top_right">
    <form class="example-form">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" class="footer_top_btn">subscribe</button>
  </div>
</div>
