$main-color : #ff4c3b;

.trending_container {
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.15s linear;
}

.new_arrival,
.on_sale,
.best_sellers {
    display: none;
}

.selected_container {
    display: block;
    transition: opacity 0.15s linear;
}

.trending_products_part1 {
    background-color: rgb(250, 234, 232);
    padding: 70px 50px 5px;
    position: relative;
}

.trending_product {
    margin: 0px 12px 30px;
    margin-bottom: 140px;
}

.trending_list_box {
    margin-bottom: 30px;
    text-align: center;
}

.title_h2 {
    text-align: center;
    font-size: 36px;
    color: #222222;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.72px;
    padding-bottom: 25px;
    margin-bottom: 0;
    margin-top: -5px;
}

.page_line {
    position: relative;
    width: 180px;
    height: 1px;
    background-color: $main-color;
    bottom: 0;
    top: 0;
    margin: 0 auto;
    margin-bottom: 55px;
}

.page_line::before,
.page_line::after,
.page_line_span::after,
.page_line_span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $main-color;
    top: -4px;
}

.page_line::before {
    left: 64px;
}

.page_line::after {
    left: 78px;
}

.page_line_span::before {
    right: 64px;
}

.page_line_span::after {
    right: 78px;
}


.trending_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending_list_item {
    padding: 0 25px;
}

.selected {
    color: $main-color !important;
}

.trending_list_link {
    color: #2d2a25;
    text-transform: uppercase;
    font-size: 18px;
}

.trending_new,
.special_new {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: $main-color;
    color: #fff;
    border-radius: 100%;
    padding: 11px 4px;
    position: absolute;
    top: 7px;
    left: 7px;
    text-align: center;
}

.trending_on_sale,
.special_on_sale {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #212529;
    position: absolute;
    top: 7px;
    right: 7px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.trending_product_box,
.special_product_box {
    width: 315px;
    height: 340px;
}

.trending_img_box,
.trending_img_box_part2 {

    position: relative;
    overflow: hidden;

}

.trending_img {
    // max-width: 100%;
    // height: auto;
    height: 360px;
    width: 330px;
}

.trending_icons {
    text-align: left;
    bottom: 0;
    left: unset;
    position: absolute;
    right: -10px;
    margin: 0 auto;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease;

}

.trending_icons_link,
.special_icons_link {
    transition: 0.5s ease;
    text-decoration: none;
    position: relative;
}

.shopping {
    padding: 10px;
    display: block;
    color: #6f6f6f;
    font-size: 18px;
    transition: all 0.5s ease;
    position: relative;
}

.shopping:hover {
    color: $main-color;
    transition: all 0.5s ease;
}

.trending_product_box:hover .trending_icons {
    opacity: 1;
    transition: all 0.5s ease;
    right: 0px;
    animation: icons;

    .heart {
        animation: icons 500ms ease-in-out;
    }

    .magnifying {
        animation: icons 700ms ease-in-out;
    }

    .refresh {
        animation: icons 1000ms ease-in-out;
    }
}


@keyframes icons {
    from {
        right: -50px;
    }

    to {
        right: 0px;
    }
}


.trending_detail,
.special_detail {
    display: block;
}

.stars {
    display: flex;
    font-size: 18px;
    color: #edb867;
}

.trending_name,
.special_name {
    color: #777777;
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

.trending_discounted_price,
.special_discounted_price {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}

.trending_price,
.special_price {
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
}

.trending_color_list,
.trending_color_list_part2,
.special_color_list {
    padding-top: 12px;
    padding-left: 0;
}

.trending_color,
.special_color {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.silver {
    background-color: silver;
}

.sienna {
    background-color: sienna;
}

.navy {
    background-color: navy;
}

.bisque {
    background-color: bisque;
}

.chocolate {
    background-color: chocolate;
}

.steelblue {
    background-color: steelblue;
}

.wheat {
    background-color: wheat;
}

.palegoldenrod {
    background-color: palegoldenrod;
}

.dimgrey {
    background-color: dimgrey;
}

.black {
    background-color: black;
}
