<p class="bottom-header-container">
  <mat-toolbar>
    <mat-icon class="menu_icon">menu</mat-icon>
    <img class="multikart-logo" src="../../../assets/images/multikart-logo.png" alt="multikart-logo" />
    <span class="example-spacer"></span>
    <div>
      <mat-list class="header_bottom_content">
        <mat-list-item class="header_bottom_item">
          <span class="header_item_title">home</span>
          <i class="fa-solid fa-chevron-down header_item_icon"></i>
          <mat-list class="header_submenu">
            <ng-container *ngFor="let item of homeItems">
              <mat-list-item class="header_submenu_item" *ngIf="item.link">
                <a [routerLink]="['/', item.link]">
                  {{ item.name }}
                  <span class="angle_right" *ngIf="item.subSubmenu">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>

                <mat-list class="sub_submenu" *ngIf="item.subSubmenu">
                  <ng-container *ngFor="let item of item.subSubmenu">
                    <mat-list-item>
                      <a href="">{{ item }}</a>
                    </mat-list-item>
                  </ng-container>
                </mat-list>
              </mat-list-item>
            </ng-container>
          </mat-list>

        </mat-list-item>
        <mat-list-item class="header_bottom_item">
          <span class="header_item_title">shop</span>
          <i class="fa-solid fa-chevron-down header_item_icon"></i>

          <mat-list class="header_submenu">
            <ng-container *ngFor="let item of shopItems">
              <mat-list-item class="header_submenu_item" *ngIf="item.link">
                <a [routerLink]="['/', item.link]">
                  {{ item.name }}
                </a>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </mat-list-item>

        <mat-list-item class="header_bottom_item">
          <span class="header_item_title">products</span>
          <i class="fa-solid fa-chevron-down header_item_icon"></i>
          <mat-list class="header_submenu">
            <ng-container *ngFor="let item of productsItem">
              <mat-list-item class="header_submenu_item" *ngIf="item.link">
                <a [routerLink]="['/', item.link]">
                  {{ item.name }}
                  <span class="angle_right" *ngIf="item.subSubmenu">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </a>

                <!-- <mat-list class="sub_submenu" *ngIf="item.subSubmenu">
                    <ng-container *ngFor="let item of item.subSubmenu">
                        {{item}}
                        <mat-list-item >
                            <a href="">{{ item }}</a>
                        </mat-list-item>
                    </ng-container>
                </mat-list> -->
              </mat-list-item>
            </ng-container>
          </mat-list>
        </mat-list-item>


        <mat-list-item class="header_bottom_item">
          <span class="header_item_title">features</span>
          <i class="fa-solid fa-chevron-down header_item_icon"></i>

          <mat-list class="header_submenu features">
            <ng-container *ngFor="let item of featuresItem">
              <div class="header_submenu_container">
                <h3>{{item.name}}</h3>
                <mat-list-item class="header_submenu_item" *ngFor="let item of item.options">
                  <a [routerLink]="['/', item.link]">
                    {{ item.title }}
                  </a>
                </mat-list-item>
              </div>

            </ng-container>
          </mat-list>
          <span class="new-badge-box">
            <span class="new-badge">new</span>
          </span>
        </mat-list-item>


        <mat-list-item class="header_bottom_item">
          <span class="header_item_title">pages</span>
          <i class="fa-solid fa-chevron-down header_item_icon"></i>
          <mat-list class="header_submenu">
            <ng-container *ngFor="let item of pagesItem">
              <mat-list-item class="header_submenu_item" *ngIf="item.link">
                <a [routerLink]="['/', item.link]">
                  {{ item.name }}
                  <span class="angle_right" *ngIf="item.subSubmenu">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                  <span class="new_tag" *ngIf="item.newTag">New</span>
                </a>

                <!-- <mat-list class="sub_submenu" *ngIf="item.subSubmenu">
                    <ng-container *ngFor="let item of item.subSubmenu">
                        {{item}}
                        <mat-list-item >
                            <a href="">{{ item }}</a>
                        </mat-list-item>
                    </ng-container>
                </mat-list> -->
              </mat-list-item>
            </ng-container>
          </mat-list>
        </mat-list-item>
        <mat-list-item class="header_bottom_item">
          <span class="header_item_title">blogs</span>
          <i class="fa-solid fa-chevron-down header_item_icon"></i>
          <mat-list class="header_submenu">
            <ng-container *ngFor="let item of blogItems">
              <mat-list-item class="header_submenu_item" *ngIf="item.link">
                <a [routerLink]="['/', item.link]">
                  {{ item.name }}
                </a>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="bottom_header_icon_container">
      <div class="bottom_header_icon_box">
        <a href="">
          <img class="bottom_header_icon" src="../../../assets/images/search.png" alt="search" />
        </a>
      </div>

      <div class="bottom_header_icon_box">
        <a href="">
          <img class="bottom_header_icon" src="../../../assets/images/setting.png" alt="setting" />
        </a>
        <mat-list class="bottom_header_icon_hover">
          <ng-container *ngFor="let item of settingItems">
            <div>
              <h4>Language</h4>
              <mat-list-item *ngFor="let item of item.language"><a href="">{{ item }}</a></mat-list-item>
            </div>
            <div>
              <h4>Currency</h4>
              <mat-list-item *ngFor="let item of item.currency"><a href="">{{item}}</a></mat-list-item>
            </div>
          </ng-container>
        </mat-list>
      </div>

      <div class="bottom_header_icon_box">
        <a href="">
          <img class="bottom_header_icon" src="../../../assets/images/cart.png" alt="cart" />
          <span id="mat-badge-content-0" aria-hidden="true"
            class="mat-badge-content mat-badge-active cart-badge">0</span>
        </a>
        <mat-list class="bottom_header_icon_hover">
          <mat-list-item><a href="#">Your cart is currently empty.</a></mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-toolbar>
</p>